<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <configSections>
    <section name="DiscountCalculatorsConfiguration"
    type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <DiscountCalculatorsConfiguration>
    <add key="NotRegistered" value="Calculators.NotRegisteredDiscountCalculator,
Calculators" />
    <add key="SimpleCustomer" value="Calculators.SimpleCustomerDiscountCalculator,
Calculators" />
    <add key="ValuableCustomer" value="Calculators.ValuableCustomerDiscountCalculator,
Calculators" />
    <add key="MostValuableCustomer"
    value="Calculators.MostValuableCustomerDiscountCalculator, Calculators" />
  </DiscountCalculatorsConfiguration>
</configuration>